<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="h-mgn-custom">Contacts</h3>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success fl-right">
                            New Contact
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <cms-contact-item 
                *ngFor="let singleContact of contact" 
                [selectedContact]="singleContact"
                (click)="onSelected(singleContact)"></cms-contact-item>
            </div>
        </div>
    </div>
</div>